
h1{
    border: 2px solid;
    height: 430px;
    width: 600px;
    font-size: large;
    margin-left: 550px;
    background-color: magenta;
    margin-top: 180px;
    text-align: center;

}
