#d1{
        border: 2px solid;
        background-color: orange;
        height: 400px;
        width: 600px;
        color: black;
        font-size: 30px;
        text-align: center;
        margin-top: 200px;
        margin-left: 400px;

}
    
    