<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/balance.css' %}">

</head>
<body>
    <h2 id="d1">available balance 
    {% if var %}
    <h1>THE AVAIABLE BALANCE IS {{bal}}</h1>
    {% else %}
    <form action="" method="POST">
        {% csrf_token %}
        Account NUMBER <input type="number" name="acc" id=""> <br><br>
        PIN <input type="number" name="pin"  maxlength="4" id=""> <br><br>
        <button type="submit">check balance</button>
    </form>
    {% endif %}
</h2>
</body>
</html>